.header {
    position: sticky;
    left: 0;
    right: 0;
    top: 645px;
    height: 70px;
    width: 100%;
    z-index: 999;
}

.header-container {
	display: flex;
	align-content: stretch;
	justify-content: center;
}

.header-container > ul {
	display: flex;
	align-items: center;
	color: #ffff;
}

.header-container > ul > li {
	font-size: 18px;
	font-weight: 600;
	margin: 0 10px;
	cursor: pointer;
}
.header-container > ul > li > a {
	color: #ffff;
	text-decoration: none;
}

.header-container > ul > li > a:hover {
	color: #b2b2eb;
}
.header-inventory {
	cursor: pointer;
}

.header--account {
	margin-left: 15px;
	display: flex;
	align-items: center;
}

.header__container--image {
    background-image: url(https://hd.huya.com/web/1911hyactivity/static/img/head.1bb1391.png);
    flex-direction: column;
    background-size: contain;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__avatar {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.header--name > h2 {
	font-size: 20px;
	color: #f00;
	text-align: left;
}
.header--name > h2 > i {
	padding-left: 5px;
}
.header-power {
	color: #ff9900;
	font-size: 17px;
	text-align: left;
}
.logined_coin {
	text-align: left;
	color: #ffff00;
	font-size: 17px;
	margin-top: 5px;
}
.logined_coin > i {
	padding-right: 5px;
}
i:hover {
	opacity: 80%;
}
.header-shops {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-shops > .shop {
	margin-right: 10px;
}

.play_audio,
.pause_audio {
	cursor: pointer;
}

.pause_audio {
	display: none;
}
.music {
	margin-top: 20px;
	height: 40px;
}
.mucsic_container {
	position: fixed;
	top: 80px;
	left: 15px;
}
.shop {
	cursor: pointer;
}
.header-power1 {
	color: #ff9900;
	font-size: 17px;
	text-align: left;
}
.labelChamption {
    position: absolute;
    width: 170px;
    height: 36px;
    bottom: 0;
    left: 50%;
    margin-left: -272px;
    color: #221b19;
    text-align: center;
    line-height: 42px;
    font-weight: 700;
    font-size: 15px;
    background-image: url(//hd.huya.com/web/1911hyactivity/static/img/hourChamption.8d40664.png);
    background-size: 100% 100%;
}