body {
	background: #053d48;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0 auto;
	padding: 0;
	min-width: 1336px;
	overflow: hidden;
	overflow-y: auto;
	max-width: 1920px;
	height: 100%;
}
header {
   text-align: center;
}

header img {
   max-height: 235px;
   cursor: pointer;
}

strong {
   font-weight: 600;
   line-height: 1.5em;
}

.char-container {
  text-align: center;
  font-size: 0px;
  padding: 5px;
  cursor: pointer;
}
.type {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 10px;
}

.character-user {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type.duong {
  background-image: url(https://i.imgur.com/oHK4enE.png);
  background-position: 100% 0;
}
.type.thuy {
  background-image: url(https://i.imgur.com/93QKiIf.png);
  background-position: 100% 0;
}
.type.am {
  background-image: url(https://i.imgur.com/0lKUR3Q.png);
  background-position: 100% 0;
}
.type.hoa {
  background-image: url(https://i.imgur.com/rQJGLrV.png);
  background-position: 100% 0;
}
.type.kim {
  background-image: url(https://i.imgur.com/pXTvJmk.png);
  background-position: 100% 0;
}
.type.moc {
  background-image: url(https://i.imgur.com/8z9Of4r.png);
  background-position: 100% 0;
}
.type.bossthuy {
  background-image: url(https://i.imgur.com/Z5i6yKh.png);
  background-position: 100% 0;
}
.type.bosskim {
  background-image: url(https://i.imgur.com/vPxHHEr.png);
  background-position: 100% 0;
}
.type.bosshoa {
  background-image: url(https://i.imgur.com/awSJhEL.png);
  background-position: 100% 0;
}
.type.bossmoc {
  background-image: url(https://i.imgur.com/ePeiHLr.png);
  background-position: 100% 0;
}
.row {
   display: block;
   min-height: 50px;
}

.instructions {
   text-align: center;
   padding: 20px 0;
}

.characters {
   display: none;
   margin-top: 50px;
   justify-content: space-around;
   transition: visibility 0.3s ease, opacity 0.3s ease, height 0.3s ease;
   flex-wrap: wrap;
}

.characters.hidden {
   visibility: hidden;
   opacity: 0;
   height: 0;
}

.char-container img {
   max-height: 230px;
   border-width: 20px;
   background-color: #ffeb1200;
   margin-bottom: 13px;
   transition: transform 0.3s ease, margin 0.3s ease;
}

.char-container h2 {
   color: #fff;
   text-transform: capitalize;
   font-size: 1.5em;
   font-weight: 600;
   transition: font-size 0.3s ease;
}

.char-container:hover img {
   transform: scale(1.3);
   margin-bottom: 17px;
}

.char-container:hover h2 {
   font-size: 1.2em;
}

.stadium > section {
   display: block;
   box-sizing: border-box;
   margin-top: 40px;
}

.stadium > section .char {
   height: 175px;
   position: relative;
}

.stadium > section .char > * {
   position: absolute;
   text-transform: capitalize;
}

.stadium > section .char img {
  background-size: cover;
      top: 255px;
}

.stadium > section .char .data {
   color: #212121;
   width: 20vw;
   padding: 15px 2%;
}

.stadium > section .char .data progress {
   width: 100%;
   position: relative;
   border-radius: 5px;
   height: 20px;
   background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
}

.contain-data {
   display: flex;
   position: relative;
   align-items: center;
}

.avtar-hero {
   position: absolute;
   left: -100px !important;
   height: 100px;
   width: 100px;
   object-fit: cover;
   top: -35px !important;
   border: 1px solid #b5aaaa;
   border-radius: 100%;
}

.stadium > section .char .data p {
   text-align: left;
   padding-left: 5px;
   padding-top: 5px;
}

.stadium > section .char .data p span {
   font-size: 15px;
   font-weight: bold;
}

.skill_health {
   position: absolute;
   right: -127px;
   top: -200px;
   height: 80px !important;
   width: 80px !important;
   animation: health 0.5s linear infinite;
}

@keyframes health {
   0% {
      transform: scale(1.01);
   }

   10% {
      transform: scale(1.02);
   }

   40% {
      transform: scale(1.03);
   }

   80% {
      transform: scale(1.04);
   }

   100% {
      transform: scale(1.05);
   }
}

.time_health {
   height: 90px;
   width: 90px;
   border-radius: 100%;
   background-color: #262626;
}

.stadium > section .char .data h2 {
   font-weight: bold;
   font-size: 22px;
   color: #000000;
   padding-bottom: 5px;
}

.attack-list.disabled {
   opacity: 0.5;
   position: relative;
   z-index: -1;
   cursor: initial;
}

.modal-out {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background: rgba(33, 33, 33, 0.75);
   z-index: 900;
}

.modal-out .modal-in {
   position: fixed;
   top: 15vh;
   background-size: cover;
   left: 0;
   right: 0;
   width: 700px;
   height: 320px;
   margin: 0 auto;
   z-index: 9999;
   border-radius: 10px;
   border: 1px solid #d1eeee;
   background: #4f4f4f;
}

.modal-in_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   margin: 0 auto;
   color: white;
}

.result_title {
   margin: 50px 0;
}

.result_suggest--text {
   color: #ff6600;
}

.result_suggest {
   display: flex;
}

.result_images {
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
}

.result_item {
   margin: 0 5px;
}

.result_image {
   width: 50px;
   height: 50px;
   object-fit: cover;
}

.result_battle {
   font-size: 25px;
   font-weight: bold;
   margin-top: 20px;
   margin-left: unset;
}

.modal-out .modal-in header {
   position: relative;
   min-height: 30px;
   text-align: center;
   padding: 10px 3%;
   box-sizing: border-box;
}

.modal-out .modal-in header h1 {
   font-size: 2em;
   margin-top: 140px;
}

.modal-out .modal-in .close {
   cursor: pointer;
   position: absolute;
   top: 13px;
   right: 13px;
}

.modal-out .modal-in section {
   box-sizing: border-box;
   padding: 0px 55px;
   line-height: 2;
   font-size: 20px;
   margin-top: -80px;
}

.controls {
   position: absolute;
   bottom: 10vh;
   left: 0;
   right: 0;
   width: 220px;
   margin: 0 auto;
   padding: 0;
   list-style: none;
}

.controls li {
   position: relative;
   float: left;
   width: 60px;
   height: 60px;
   margin-right: 20px;
   padding: 8px;
   line-height: 40px;
   text-align: center;
   color: #fff;
   border-radius: 50%;
   overflow: hidden;
   border: 2px solid #fff;
}

.puom {
   height: 170px;
   background: #181818;
   border: 1px solid #2b2b2b;
   overflow: hidden;
   margin-top: 5px;
}

.puinom {
   height: 150px;
   margin-top: 9px;
   border: 1px solid #2c2c2c;
   background: #1c1c1c;
   background-image: url(./public/images/Hy9iO4b.png);
   text-align: left;
   overflow: hidden;
}

.punew {
   width: 100px;
   height: 100px;
   background: #1b1b1b;
   border: 1px solid #2b2b2b;
   position: relative;
   z-index: 1;
   transform: rotate(-40deg);
   margin-left: -45px;
   margin-top: -56px;
   text-align: center;
}

.punewico {
   margin-top: 70px;
   margin-left: -10px;
   transform: rotate(40deg);
   color: #ffeb12;
}

.fa-heart:before {
   content: "\f004";
}

.punewico {
   margin-top: 70px;
   margin-left: -10px;
   transform: rotate(40deg);
   color: #ffeb12;
}

.punambac {
   height: 400px;
   width: 400px;
   margin-top: -100px;
   margin-left: -20px;
   margin-bottom: -320px;
   background-size: cover;
   opacity: 0.1;
   transform: rotate(30deg);
}

.punam {
   width: 400px;
   text-align: center;
   padding: 5px 10px;
   margin-left: 45px;
   color: #ffeb12;
   font-family: yanone kaffeesatz;
   font-size: 25px;
   letter-spacing: 1px;
   text-transform: uppercase;
   border-bottom: 1px solid #2b2b2b;
   position: relative;
   z-index: 1;
}

.pulas {
   width: 398px;
   padding: 5px 10px;
   border: 1px solid #2b2b2b;
   margin-left: 45px;
   margin-top: 10px;
   text-align: center;
   text-transform: uppercase;
   font-family: teko;
   font-size: 11px;
   color: #bbb;
   letter-spacing: 2px;
   background: #232323;
   position: relative;
   z-index: 1;
}

.pulas a {
   color: #ffeb12;
   padding: 0px 5px;
}

.pudate {
   width: 398px;
   padding: 5px 10px;
   border-top: 1px solid #2b2b2b;
   margin-left: 45px;
   margin-top: 10px;
   text-align: center;
   text-transform: uppercase;
   font-family: teko;
   font-size: 10px;
   color: #9e9e9e;
   letter-spacing: 2px;
   position: relative;
   z-index: 1;
}

.pudate b {
   color: #ccc;
}

.puimg {
   float: right;
   width: 300px;
   height: 270px;
   margin-top: -211px;
   margin-right: -2px;
   border-top-left-radius: 100%;
   border-bottom-left-radius: 100%;
   background: #444;
   background-size: cover;
   background-position: center;
   background-blend-mode: multiply;
   filter: grayscale(100%);
   border: 2px solid #333;
}

.punumone {
   background: #1b1b1b;
   border-radius: 100%;
   border: 2px solid #2b2b2b;
   height: 34px;
   width: 50px;
   padding-top: 16px;
   position: relative;
   z-index: 1;
   margin-top: -135px;
   margin-right: -65px;
   float: right;
   color: #bbb;
   font-size: 9px;
   font-family: teko;
   letter-spacing: 1px;
   line-height: 10px;
   text-transform: uppercase;
}

.punumtwo {
   background: #1b1b1b;
   border-radius: 100%;
   border: 2px solid #2b2b2b;
   height: 34px;
   width: 50px;
   padding-top: 16px;
   position: relative;
   z-index: 1;
   margin-top: -70px;
   margin-right: -65px;
   float: right;
   color: #bbb;
   font-size: 9px;
   font-family: teko;
   letter-spacing: 1px;
   line-height: 10px;
   text-transform: uppercase;
}

.punumone b {
   color: #ffeb12;
   margin-left: 15px;
   font-size: 15px;
   font-weight: normal;
   letter-spacing: 2px;
}

.punumtwo:after {
   display: block;
   content: "";
   height: 60px;
   width: 60px;
   border: 1px solid #3b3b3b;
   border-radius: 100%;
   margin-top: -43px;
   margin-left: -6px;
}

.puli {
   padding: 5px 40px;
   margin-top: 5px;
   background: #181818;
   border: 1px solid #2b2b2b;
   text-align: right;
   color: #bbb;
   font-size: 11px;
   font-family: teko;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.puli i {
   color: #ffeb12;
   float: left;
   margin-left: -20px;
   margin-top: 2px;
}

.fa-angle-double-right:before {
   content: "\f101";
}

.puli b {
   font-family: montserrat;
   color: #ffeb12;
   font-size: 9px;
   margin: 0px 5px;
}

.punumtwo b {
   margin-left: 20px;
   color: #ffeb12;
   font-size: 15px;
   font-weight: normal;
   letter-spacing: 2px;
}

.punumone:after {
   display: block;
   content: "";
   height: 60px;
   width: 60px;
   border: 1px solid #3b3b3b;
   border-radius: 100%;
   margin-top: -43px;
   margin-left: -6px;
}

h1 {
   margin-left: 15px;
}

.punumone1 {
   background: #1b1b1b;
   border-radius: 5px;
   border: 2px solid #2b2b2b;
   height: 112px;
   width: 183px;
   padding-top: 16px;
   position: relative;
   z-index: 1;
   margin-top: -145px;
   margin-right: 310px;
   float: right;
   color: #bbb;
   font-size: 9px;
   font-family: teko;
   letter-spacing: 1px;
   line-height: 10px;
   text-transform: uppercase;
}

.punumone1 b {
   border-bottom: 1px solid;
   color: #ffeb12;
   margin-left: 5px;
   font-size: 15px;
   font-weight: normal;
   letter-spacing: 2px;
}

.punumone2 {
   background: #1b1b1b;
   border-radius: 5px;
   border: 2px solid #2b2b2b;
   height: 300px;
   width: 253px;
   padding-top: 16px;
   position: relative;
   z-index: 1;
   margin-top: -265px;
   margin-right: 48px;
   float: right;
   color: #bbb;
   font-size: 9px;
   font-family: teko;
   letter-spacing: 1px;
   line-height: 10px;
   text-transform: uppercase;
}

.punumone2 b {
   border-bottom: 1px solid;
   color: #ffeb12;
   margin-left: 5px;
   font-size: 15px;
   font-weight: normal;
   letter-spacing: 2px;
}

.window.focused,
.focused#messaging,
.focused#inventory,
.focused#character1 {
   z-index: 1500;
}

.window header,
#messaging header,
#inventory header,
#character1 header {
   background-color: rgba(0, 0, 0, 0.9);
   line-height: 25px;
   color: white;
   font-size: 0.75em;
   text-align: center;
   width: 14%;
   top: -25px;
   cursor: move;
}

#character1 header button.close {
   background: maroon;
   width: 20px;
   height: 15px;
   right: 5px;
   top: 5px;
   border: 0;
   border-radius: 2px;
   cursor: pointer;
   color: white;
   font-size: 9px;
   font-family: arial;
}

#character1 ul.armor {
   width: 50px;
   left: 0;
   top: 0;
}

#character1 footer {
   bottom: 0;
   width: 100%;
   margin-bottom: 5px;
}

.window.focused,
.focused#messaging,
.focused#inventory,
.focused#character1 {
   z-index: 1500;
}

#inventory {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.75);
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
   -ms-transition: background 0.5s;
   -o-transition: background 0.5s;
   transition: background 0.5s;
}

#inventory {
   bottom: 10px;
   right: 10px;
   width: 499px;
   height: 150px;
}

.stadium {
   margin-top: 710px;
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin: 0 auto;
   padding: 12px;
   color: #aaa;
   height: auto;
   background-size: cover;
   background-image: url("./public/images/j86FONA.jpeg");
}

.stadium .hero img {
   top: 290px;
   max-height: 320px;
   z-index: 1;
   left: 0vw;
}

.stadium .hero .data {
   margin-top: 0px;
   left: -11px;
}

.enemy {
   position: relative;
}

.stadium .enemy img {
   max-height: 330px;
   right: 2vw;
   top: 275px;
   z-index: 1;
}

.stadium .enemy .data {
   right: -120px;
   margin-top: -20px;
}

.attack-list {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  transtion: opacity 0.3s ease;
  justify-content: space-evenly;
}

.attack-list li {
    border: 1px solid #3b3b3b;
    border-radius: 100%;
    margin-bottom: -50px;
    height: 95px;
    width: 95px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    z-index: 50;
    margin-top: -2210px;
    color: #fff;
    font-size: 9px;
    font-family: teko;
    letter-spacing: 2px;
    margin-right: 20px;
    padding-left: 55px;
    line-height: 10px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.3s ease;
}

p.attack-name {
   width: 360px;
}

h20 {
   font-size: 50px;
   background: linear-gradient(to left, #ffeb12, #dbdbdb);
   background-clip: border-box;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 700;
}

.instructions p {
   color: #fff;
   font-size: 35px;
   background: linear-gradient(to left, #ffeb12, #fdea00);
   background-clip: border-box;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 700;
}

a.nav-seperator1 {
   background: #751a1a;
   color: #fff;
   text-shadow: 0 0 5px #ccc;
   border: 1px solid #ccc;
   padding: 5px;
   border-radius: 3px;
}

a.nav-seperator {
   color: #fff;
   text-shadow: 0 0 5px #ccc;
   border: 1px solid #ccc;
   padding: 5px 5px;
   border-radius: 3px;
   background: #262626;
}

.stadium {
    border-top: 2px solid #cb7f49;
    border-bottom: 2px solid #cb7f49;
    margin-top: 937px;
    display: flex;
    justify-content: space-around;
    color: #aaa;
    background-size: cover;
    background-image: url(https://i.imgur.com/Tsj9IWt.jpg);
}

#character1 ul.armor {
   position: absolute;
   left: 415px;
   top: 351px;
}

ul.weapons {
   position: absolute;
   margin-top: 572px;
   margin-left: 486px;
}

#character1 li {
   position: relative;
   width: 65px;
   height: 65px;
   margin: 5px 0 0 5px;
   float: left;
   background-color: rgb(33 33 33 / 75%);
   border-radius: 2px;
   text-overflow: ellipsis;
   overflow: hidden;
   text-indent: 2px;
}

.char-container {
   text-align: center;
   font-size: 0px;
   cursor: pointer;
}

.inventory {
   width: 0px;
   height: 280px;
   transition: all 0.25s ease;
   overflow: hidden;
}

.inventories {
   padding: 10px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
   grid-auto-flow: row;
   grid-template-rows: 60px;
   grid-gap: 10px;
   border: 1px solid rgb(0, 0, 0, 0.3);
   overflow: auto;
   box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
   background-color: #111111;
   border-radius: 10px;
}

.inventory__item_amount {
   top: 0 !important;
}

.count_item__break {
   top: 0px;
   right: 0;
}

.slides {
   display: none;
   justify-content: center;
   margin-top: 10px;
}

.item-slide {
   cursor: pointer;
   width: 80px;
   z-index: 99999;
   margin: 0 10px;
   height: 80px;
   object-fit: cover;
   transition: all 0.25s ease;
}

.item-slide:hover {
   opacity: 70%;
}

.my_attack {
   margin-top: 220px;
   display: none;
   position: absolute;
   left: 240px;
   width: 284px;
   z-index: 999;
   height: 384px;
   margin-left: 30px;
}

.current_hp {
   position: absolute;
   left: 230px;
   width: 284px;
   letter-spacing: 1.1px;
   color: #ee0000;
   z-index: 999999;
   font-size: 28px;
   margin-left: 35px;
   margin-top: 198px;
}

@keyframes slide_curent_hp {
   0% {
      transform: translateY(132px);
      opacity: 100%;
   }

   50% {
      opacity: 50%;
   }

   100% {
      transform: translateY(30px);
      opacity: 0%;
   }
}

#heade_video {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -960px;
}

.page1 {
	height: 2722px !important;
	width: 100%;
	position: relative;
}
.container {
    height: 100%;
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 100%;
    padding: unset;
}
.login {
    position: absolute;
    top: 640px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 740px;
    height: 190px;
    z-index: 15;
    background: url(http://img.zing.vn/products/vltkmax/skin-2022/mainsite/assets/images/bg/bg-appinfo.png) center top no-repeat;
}
.page3 {
    width: 100%;
    height: 1010px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    text-align: center;
}
.header-power2 {
    color: #ff9900;
    font-size: 17px;
    text-align: left;
}